@font-face { font-family: Adventure; src: url('Adventure.otf'); } 
 @font-face { font-family: Adventure; font-weight: bold; src: url('Adventure.otf');}

header {
	padding: 15px;
	background-color: rgba(237, 135, 63, 0.2);
	box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
	font-family: 'Adventure', "Courier New", Courier;
	font-size: 30px;
}

body {
  text-align: center;
  background-image: url(/images/noise_lines.png);
  color: gray;
  font-family: "Courier New", Courier;
  margin: 0;
  padding: 0;
}

#workspace {
	width: 600px;
	min-height: 300px;
	border: 5px dashed FireBrick;
	margin: 0 auto;
}

#social-networks {
    line-height: 10px;
}

#workspace img {
	width: 600px;
}

#search-results img {
	margin: 10px 10px;
	box-shadow: -1px 0 5px rgba(0,0,0, 0.3);
}

#caption {
	position: absolute;
	top: 10px;
	left: 10px;
}

#workspace {
	position: relative;
}

#caption {
	position: absolute;
	top: 10px;
	left: 10px;
	font-weight: bold;
	font-family: Helvetica;
	font-variant: normal;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
	width: 400px;
	font-size: 32px;
	color: red;
	margin: 0;
}

#go-search {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 16px;
  background: #8f9294;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

#go-search:hover {
  background: #ab0a0a;
  text-decoration: none;
}


#select-image {
	background-color: rgba(237, 135, 63, 0.3);
	padding: 10px;
}

#branding {
	margin: auto;
	width: 10%;
}

#add-text {
	background-color: rgba(237, 135, 63, 0.5);
	padding: 10px;
	box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#add-text input {
	width: 600px;
	text-align: center;
}

input, button {
	font-size: 16px;
}

#style-image {
	background-color: rgba(237, 135, 63, 0.7);
	padding: 10px;
	box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#controls {
	padding: 10px;
	font-size: 14px;
}

input[type="number"] {
	width: 50px;
}

footer {
	background-color: rgba(237, 135, 63, 0.2);
	padding: 10px;
	text-align: left;
	font-size: 12px;
	box-shadow: -1px 0 5px rgba(0,0,0, 0.3);
}

footer img {
	float: left;
	margin-bottom: 10px;
	margin-right: 40px;
}

footer div {
	margin: 10px 10px;
}
